.library {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 25rem;
  height: 100vh;
  background-color: var(--color-bg-light);
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto !important;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;

  .lib-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-left: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    height: 6rem;
  }
  h2 {
    text-align: center;
  }

  .lib-title {
    flex: 1;
    display: inline-block;
  }

  .back-icon,
  .close-icon {
    box-sizing: content-box;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5em;

    &:hover {
      color: var(--color-bg-active);
    }
  }

  .hide-back-icon {
    visibility: hidden;
  }

  .library-songs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.library-song {
  display: flex;
  gap: 1em;
  padding: 0.5rem 1rem;
  min-height: 8rem;
  will-change: background-color;
  cursor: pointer;
  transition: all 0.15s ease;

  img {
    width: 7em;
  }

  .song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.selected {
  background-color: var(--color-bg-active);

  &:hover {
    background-color: var(--color-bg-active);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a88a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(31, 31, 31);
}

.library-lib-active {
  transform: translateX(0);
}
