.nav {
  width: 100%;
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-bg-light);
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  min-height: 6rem;

  h1 {
    font-size: 3rem;
    font-family: "Poiret One", cursive;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 50em) {
      font-size: 2rem;
    }
    .underline {
      position: absolute;
      height: 1px;
      width: 60%;
      bottom: 0;
      right: 0;
      // background-color: var(--color-bg-active);
      background: var(--color-font);
    }
  }

  .search-flex {
    width: 100%;
    display: flex;
    flex: 100%;
    position: relative;
  }

  .search {
    width: 70%;
    min-width: 6.25rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1em 1em;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--color-font);
    border-radius: 50px;
  }

  .user {
    width: min-content;
    position: relative;

    .user-img {
      width: 4rem;
      border-radius: 50%;
      cursor: pointer;
      position: relative;

      &:hover {
        outline: 2px solid var(--color-bg-active);
      }

      @media (hover: none) {
        &:hover {
          outline: none;
        }
      }
    }

    .checkbox {
      display: none;
    }

    .lib-checkbox-label,
    .sign-out {
      border-radius: 50%;
      padding: 1rem;
      color: rgb(228, 228, 228);
      background-color: #414141;
      cursor: pointer;
      position: absolute;
      visibility: hidden;
      top: 125%;
      transform: translateY(-120%);
      will-change: transform;
      transition: transform 0.5s;

      @media screen and (max-width: 50em) {
        padding: 1em;
      }

      &:hover {
        background-color: var(--color-bg-active);
      }
    }

    .lib-checkbox-label:hover::before {
      content: "Playlists";
    }

    .sign-out {
      top: 250%;
      transform: translateY(-100%);

      &:hover::before {
        content: "Sign Out";
      }
    }

    .checkbox-user:checked ~ div *:not(:first-child) {
      visibility: visible;
      transform: translateY(0);
    }

    .lib-checkbox-label:hover::before,
    .sign-out:hover::before {
      position: absolute;
      top: 50%;
      left: -120%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }
  }
}
