.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2em;
  gap: 1em;

  .time-control {
    width: 50%;
    min-width: 40em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 50em) {
      min-width: 20em;
      width: 90%;
    }

    .track-input {
      width: 100%;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1rem;
        width: 1rem;
        background: transparent;

        @media screen and (max-width: 50em) {
          height: 0.625rem;
          width: 0.625rem;
        }
      }
    }

    p {
      padding: 1rem 2rem;

      @media screen and (max-width: 50em) {
        padding: 0.5rem 1rem;
      }
    }
  }

  .time-control-lib-active {
    @media screen and (max-width: 50em) {
      width: 90%;
    }
  }

  .play-control {
    width: 20%;
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg {
      box-sizing: content-box;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.track {
  background-color: var(--color-bg-active);
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background-color: rgb(49, 49, 49);
  width: 101%;
  height: 100%;

  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(50%);
  pointer-events: none;
  will-change: transform;

  transition: transform 0.25s;
}
.hidden {
  display: none;
}

.volume {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  background: var(--color-bg-hover);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--color-bg-active);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

.volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}

.volume-knob {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.mute {
  cursor: pointer;
}
