.drop-down {
  width: 100%;
  height: min-content;
  max-height: 50vh;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-bg-light);
  overflow-y: scroll;
  box-shadow: 0 3px 40px rgba(31, 31, 31, 0.592);
}

.results {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.results-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
