.song-container {
  min-height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 25em) {
    min-height: 50vh;
  }

  img {
    width: 25rem;

    @media screen and (max-width: 50em) {
      width: 50%;
      min-width: 12.5rem;
    }
  }

  h2 {
    padding: 2rem 1rem 0rem 1rem;
  }

  h3 {
    // margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}
